<div class="tab">
    <ul class="actions small">
        <li><a href="/" class="button small">Home</a></li>
        <li><a href="/all_tables" class="button small">All Tables</a></li>
        <li><a href="#" class="button small">Small</a></li>
        <li><a href="elements" class="button small">Elements</a></li>
    </ul>
</div>
